<div >
    <button ng-click="previous1();" type="button" class="btn btn-primary">Previous</button>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button ng-click="next1();" type="button" class="btn btn-primary">Next</button>
    <div style="height:5em" ;></div>
    <div ng-if="output || error">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <font size="5" color="Blue">{{output}}{{error}}</font>
    </div>
    <div style="height:5em" ;></div>
    <div>
        <label>Write your piece of code here</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;
        <button ng-click="myFunction();" type="button" class="btn btn-primary">Run your code</button><br>
        <br>
        <div ng-if="!next" ui-codemirror="piecesOfCode[0].options" ng-model="piecesOfCode[0].code"></div>
        <div ng-if="next == 1" ui-codemirror="piecesOfCode[1].options" ng-model="piecesOfCode[1].code"></div>
        <div ng-if="next == 2" ui-codemirror="piecesOfCode[2].options" ng-model="piecesOfCode[2].code"></div>
    </div </div>

</div>
