.CodeMirror {
    position: absolute;
    top: 6em;
    align:left;
    width: 60em;
    min-height : 10em;
    height: auto !important;
    margin-top: -6em;
    border: solid 2px grey;
}
.footer {
    width: 100%;
    font-weight: Black;
    position: fixed;
    bottom: 0px;
    padding: 10px 0;
    height: 50px;
    background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.butn {
    position: relative;
    bottom: 6px;
    left: 2px;
}
